.univer-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.univers {
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.univers h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.univers p {
    font-size: 1rem;
    margin: 5px 0;
}

.univers a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.univers a:hover {
    text-decoration: underline;
}

.univers p {
    color: #555;
    font-size: 1rem;
}

.univers p a {
    color: #28a745;
}
.univer-list button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;  /* Жасыл түсті фон */
    color: white;  /* Ақ түс */
    border: none;
    border-radius: 5px;  /* Дөңгелектелген бұрыштар */
    cursor: pointer;  /* Курсорды көрсететін стиль */
    transition: background-color 0.3s ease;  /* Фон түсі өзгергенде анимация */
}
  
.univer-list button:hover {
    background-color: #45a049;  /* Батырма үстінен өткені кезде көбірек қараңғы жасыл */
}
  
.univer-list button:focus {
    outline: none;  /* Фокус кезінде сызаттың болмауы */
}
  
.univer-list button:active {
    background-color: #3e8e41;  /* Батырма басылған кезде түс өзгеруі */
}